nav {
	margin-top: 25px;
}
h1 {
  text-align: center;
  font-family: Garamond;
  font-weight: 50%;
}
body {
  text-align: center;
 /* I could not figure out how to get a video into the background so I used this image */
  background: url(/Users/erichegdahl/Documents/ehegdahl.github.io/unit_3/images/background.png) repeat 0 0;
  background-size: cover;
  color: #fff;
  font-family: helvetica;
}
p {
	font-family: garamond;
}
hr {
  width: 450px;
}

a {
	text-decoration: none;
	text-align: center;
	color: rgba(255,255,255,1);
	margin-right: 30px;
}

div {
/*	opacity: 0.5;...this was making the text inside the div transparent.
changed the background color of the div to rgba which allowed the text to be 100% opacity */
	width: 450px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	padding: 15px;
	background-color: rgba(0,0,0,.5);
}
ul {
	font-family: garamond;
	font-size: 22px;
    text-align: center;
    list-style-type: none;
    padding-left:0;

}
li {
    margin: 20px 0;
}
